#!/bin/bash
# Run OpenSCAP scan with ISM profile
oscap xccdf eval \
  --profile xccdf_org.ssgproject.content_profile_ism_o \
  --report /var/lib/openscap/report-$(date +%Y%m%d).html \
  --results /var/lib/openscap/results-$(date +%Y%m%d).xml \
  /usr/share/xml/scap/ssg/content/ssg-rhel9-ds.xml
